* {
    border: 2px dotted red;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    padding: 0;
}

div.header {
    flex: 0;
}

div.header-text {
    font-family: monospace;
    font-size: 64px;
    font-weight: 700;
    padding: 20px;
}

div.play-header {
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 24px;
}

div.choice-container {
    display:flex;
    padding: 50px;
    gap: 20px;
}
div.choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    gap: 10px;
}

img {
    width:200px;
}
div.play-btn-container{
    display: flex;
    justify-content: center;
}
#play-button {
    background-color: dodgerblue;
    color:white;
}

div.body {
    flex: 1;
    margin: 20px;
}

div.footer {
    flex: 0;
}

.play-container {
    display: flex;
    flex-direction: column;
}

